In [2]:
import pandas as pd
origin = ['USA', 'EU', 'EU', 'ASIA','USA', 'EU', 'EU', 'ASIA', 'ASIA', 'USA']
origin_series=pd.Series(origin)

In [4]:
origin_series
type(origin_series)

pandas.core.series.Series

In [5]:
cat_origin = origin_series.astype('category')

In [14]:
cat_origin[5]

'EU'

In [22]:
cat_origin.describe()

count     10
unique     3
top       EU
freq       4
dtype: object

In [23]:
cat_origin

0     USA
1      EU
2      EU
3    ASIA
4     USA
5      EU
6      EU
7    ASIA
8    ASIA
9     USA
dtype: category
Categories (3, object): [ASIA, EU, USA]

In [24]:
origin_series

0     USA
1      EU
2      EU
3    ASIA
4     USA
5      EU
6      EU
7    ASIA
8    ASIA
9     USA
dtype: object

In [25]:
cat_origin.cat

In [26]:
cat_origin.cat.codes

0    2
1    1
2    1
3    0
4    2
5    1
6    1
7    0
8    0
9    2
dtype: int8

In [27]:
from sklearn.preprocessing import LabelEncoder

In [28]:
lb_make = LabelEncoder()

In [29]:
origin_encoded = lb_make.fit_transform(cat_origin)

In [30]:
origin_encoded

array([2, 1, 1, 0, 2, 1, 1, 0, 0, 2])

In [31]:
cat_origin

0     USA
1      EU
2      EU
3    ASIA
4     USA
5      EU
6      EU
7    ASIA
8    ASIA
9     USA
dtype: category
Categories (3, object): [ASIA, EU, USA]

In [32]:

pd.get_dummies(cat_origin)

   ASIA  EU  USA
0     0   0    1
1     0   1    0
2     0   1    0
3     1   0    0
4     0   0    1
5     0   1    0
6     0   1    0
7     1   0    0
8     1   0    0
9     0   0    1

In [33]:
from sklearn.preprocessing import LabelBinarizer

lb = LabelBinarizer()
tt=lb.fit_transform(cat_origin)

In [34]:
tt

array([[0, 0, 1],
       [0, 1, 0],
       [0, 1, 0],
       [1, 0, 0],
       [0, 0, 1],
       [0, 1, 0],
       [0, 1, 0],
       [1, 0, 0],
       [1, 0, 0],
       [0, 0, 1]])

In [35]:
ttdf = pd.DataFrame(tt,columns = lb.classes_)
ttdf

   ASIA  EU  USA
0     0   0    1
1     0   1    0
2     0   1    0
3     1   0    0
4     0   0    1
5     0   1    0
6     0   1    0
7     1   0    0
8     1   0    0
9     0   0    1